<footer>
  <div>
    <section>
      <i></i>
      <h3>Lorem Ipsum</h3>
      <article>
       <p>Lorem ipsum dolor mkigo boyoma</p>
      <ul>
        <li>
          <i></i>
          Lorem ipsum
        </li>
        <li>Lorem ipsum</a></li>
        <li>Lorem ipsum</a></li>
        <li>Lorem ipsum</a></li>
        <li>Lorem ipsum</a></li>
      </ul>
      </article>
    </section>
    <section>
      <i></i>
      <h3>Lorem Ipsum</h3>
      <article>
        <ul>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
        </ul>
      </article>
    </section>
    <section>
      <i></i>
      <h3>Lorem Ipsum</h3>
      <article>
        <ul>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
        </ul>
      </article>
    </section>
    <video src="" controls>
    </video>
  </div>
  <p>&copy;<b>Tout droits reservé </b> Prosperity Travel 2023</p>
</footer>